*{
    margin: 0;
    padding: 0;
    justify-content: center;
}
html{
    overflow-x: hidden;
}

body{
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-color: #f3f3f3;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    
}

button{
    margin: 0;
}

img{
    margin: 0;
}

header{
    margin: 0;
    padding: 0;
    border: none;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 999;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.2s ease;


}

.containers-header{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .containers-header{
        display: none;
        flex-direction: column;
        height: 100%;
    }
}

#contain1, #contain2{
    width:50%;
    height: 100%;
    padding: 0;
    margin: 0;
    height: 100%;
    justify-content: center;
    align-items: center;

  
}

#contain1{
    display: flex;
    width: 45%;
    justify-content: flex-start;
    margin-left: 2vw;
  

}

#contain2{
    display: flex;
    justify-content: right;
    padding: 2vw;
    width: 55%;
    gap: 2%;
}

.botões-do-header{
    background: none;
    justify-content: center;
    align-items: center;
    color: white;
    border: none;
    font-size: 80%;
    font-weight: bold;
    width: auto;
    padding-bottom: 0.5%;
    cursor: pointer;
}

#bnt-modo-escuro{
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5%;
    height: 100%;
}

#boxes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: auto;
    border: none;
    border-radius: 2rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06); 
    margin-top: 15vh;
    margin-bottom: 5vh;
    width: 90%;
    background-color: #f3f3f3;

}

@media (max-width: 768px) {
    #boxes{
        margin-top: 8dvh;
        flex-direction: column;
        width: 100%;
    }
}

#box1{
    display: flex;
    margin: 5vh;
    width: 50%;
    padding-left: 4dvw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0;
}

#div-bnt-box1{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    gap: 3%;
    margin-top: 2%;
    
}



#box2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    gap: 0;
    align-items: center;
    position: relative;
    width: 50%;
    height: 70dvh;
    
}


#container-button-fazer-orçamento{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.5%;
}

@media (max-width: 768px) {
    header{
        height: 8dvh;
    }
}

@media (max-width: 768px) {
    #box2{
        width: 100%;
        height: auto;
    }
}

@media (max-width: 768px) {
    #box1{
        padding: 0;
        width: 100%;

    }
}